body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.lobby {
  border: 1px solid black;
  margin: 2rem;
  padding: 1rem;

  &>* {
    display: inline-block;
  }

  &.player {
    background: #ffd07a;
  
    &.ready {
      background: lightgreen;
    }
  }
}

input {
  margin: 0.5rem;
  padding: 0.5rem;
}


button {
  background-color: blue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

  &:hover {
    background-color: #003366;    
  }

  &:active {
    background-color: darkblue;
  }

  & a {
    text-decoration: none;
    color: white;
  }
}