<div class="player-container self-player-container">

    <div class="player-data">
        <p class="player-login">Player</p>
        <div class="player-counts">
            <p class="player-points">0</p>
            <p class="player-money">2</p>
        </div>
    </div>

    <div class="player-cards">
        <div class="player-districts"></div>
        <div class="player-hand"></div>
    </div>
</div>