<%- include('head') -%>
<div id="gamewindow">

  <div id="otherswindow">
    <% users.forEach(function(){ %>
    <%- include('pwindow'); -%>
    <% }); %>
  </div>

  <div id="myplayerwindow">

    <div class="playerwindow" id="player0">
      <div class="city">
        <div class="score"><a>15</a></div>
        <div class="districts"></div>
      </div>

      <div class="player">
        <div class="money"><a>15</a></div>
        <div class="deck" id="mydeck"></div>
        <div class="role">
          <div class="prole" id="myrole">
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<div id="testbtns">
  <button id="mytest1">Add card</button>
  <button id="mytest2">Remove card</button>
  <button id="mytest3">Play district</button>
  <button id="mytest4">Remove district</button>
  <button id="mytest5">New score</button>
  <button id="mytest6">New money</button>
  <button id="mytest7">Reveal role</button>
</div>

<script src="static/clientutils.js"></script>
<script src="static/clientgame.js"></script>
<%- include('footer') -%>
