<%- include('head') -%>

   <div id="logwindow">
     <input type="text" id="userName" placeholder="Nom d'utilisateur ..." /><br>
     <input type="password" id="Password" placeholder="Mot de passe ..." /><br>
     <button id="Login_Register"><a>S'inscrire / Se connecter</a></button>
   </div>
   <div id="lobbywindow">
     <ul id="playerlist"></ul>
     <button id="startgame"><a>Start game</a></button>
   </div>
   <div id="gamewindow">
   </div>

<%- include('footer') -%>
