<%- include('head') -%>
<div id="gamewindow">
  <div id="otherswindow">
    <% users.forEach(function(){ %>
    <%- include('pwindow'); -%>
    <% }); %>
  </div>
  <div id="myplayerwindow">
    <%- include('pwindow') -%>
  </div>
</div>
<script src="static/clientutils.js"></script>
<script src="static/clientgame.js"></script>
<%- include('footer') -%>
