<header class="header">
	<div class="item"><a href="accueil">Mn/Rab</a></div>
	<button onclick="menu()" class="menu" type="submit" style="border: 0; background: transparent">
		<img src="img/test.png" alt="submit" />
	</button>
	<ul class="nav" id="nav">
		<li class="item"><a>Le projet</a>
			<ul class="sousnav" id="sousnav">
				<li class="sousitem"><a href="welcome">Welcome</a></li>
				<li class="sousitem"><a href="tel">Tisser en ligne</a></li>
				<li class="sousitem"><a href="game2">jeu0.0.5</a></li>
			</ul>
		</li>
		<li class="item"><a href="res">Les ressources</a></li>
		<li class="item"><a href="ap">À Propos</a></li>
	</ul>
</header>
<div class="volet2" id="volet2">
	<div id="spinner">
		<div class="rect1"></div>
		<div class="rect2"></div>
		<div class="rect3"></div>
		<div class="rect4"></div>
		<div class="rect5"></div>
		<div class="rect6"></div>
		<div class="rect7"></div>
	</div>
	<script type="text/javascript" src="static/load.js"></script>
</div>
