<%- include('../partials/head', {
  title: "Home",
  tags: [{
      type: "link",
      attributes: {
        rel: "stylesheet",
        href: "/lobby-styles.css"
      }
    }
  ]
}); %>

<% for (const gameName of games) { %>

<div class="lobby">
  <p><%= gameName %></p>
  <button>
    <a href="/<%= gameName %>">
      Play
    </a>
  </button>
</div>

<% } %>

<%- include('../partials/footer'); %>