<%- include('head') -%>
<h1>Citadels.js</h1>
<div id="logwindow">
  <input type="text" id="userName" placeholder="Nom d'utilisateur ..." /><br>
  <input type="password" id="Password" placeholder="Mot de passe ..." /><br>
  <button id="login"><a>Rejoindre le lobby</a></button>
</div>
<div id="lobbywindow">
  <ul id="playerlist"></ul>
  <button id="ready"><a>Prêt ?</a></button>
  <button id="startgame" ><a href="game">Start game</a></button>
</div>
<script src="static/clientutils.js"></script>
<script src="static/lobby.js"></script>
<%- include('footer') -%>
