<div class="playerwindow">

  <div class="city">
    <div class="score"><a>15</a></div>
    <div class="deck"></div>
    <div class="money"><a>15</a></div>
  </div>

  <div class="player">
    <div class="districts"></div>
    <div class="role">
      <div class="prole" id="myrole">
      </div>
    </div>

  </div>
</div>
