<div class="playerwindow">
  <div class="playername">
  </div>
  <div class="top">
    <div class="score"><a>15</a></div>
    <div class="deck"></div>
    <div class="money"><a>15</a></div>
  </div>

  <div class="bottom">
    <div class="city"></div>
    <div class="role">
      <div class="prole" id="myrole">
      </div>
    </div>
  </div>

</div>
