/*////////// GLOBAL /////////// */

body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95vh;
  background: #e9e9e9;
}

#gamewindow {
  display: block;
  height: 100%;
}

#otherswindow {
  width: 100%;
  height: 40%;
  display: flex;
  flex-wrap: nowrap;
}

#myplayerwindow {
  min-width: 700px;
	max-width: 800px;
  width: 60%;
  height: 55%;
  margin: 2vh auto;
  display: block;
}

.playerwindow {
  background: #f9f9f9;
  width: 100%;
  border-radius: 20px;
  border: solid 2px #999;
  box-sizing: border-box;
  box-shadow: 5px 5px 10px #aaa;
}

#otherswindow .playerwindow {
  margin: 2vh 2%;
}

#myplayerwindow .playerwindow {
  height: 100%;
}

/*////////// PLAYER WINDOW DIVISION /////////// */

.playername {
  padding-top: 1em;
  text-align: center;
  width: 100%;
  height: 5%;
}

.top {
  position: relative;
  height: 37.5%;
  width: 100%;
  display: flex;
}

.bottom {
  position: relative;
  height: 57.5%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/*////////// MONEY & SCORE /////////// */

.money a{
  background: lightyellow;
  border-radius: 100%;
}

.score a{
  background: lightgrey;
}

.money, .score {
  width: 15%;
  position: relative;
  text-align: center;
}

.money a, .score a{
  padding: 0.5em;
  border: solid 2px black;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

/*////////// CITY /////////// */

.city {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.5em 0.5em 0;
}

#myplayerwindow .city {
  width: 60%;
}

#otherswindow .city {
  width: 70%;
}

/*////////// DISTRICT /////////// */

.district {
  display: inline-block;
  background: red;
  width: 49%;
  max-height: 30%;
  margin-bottom: 0.5em;
}


/*////////// DECK /////////// */

.deck {
  padding: 1em 0.5em;
  display: flex;
  flex-wrap: nowrap;
}

#myplayerwindow .deck {
  width: 60%;
}

#otherswindow .deck {
  width: 70%;
}

/*////////// CARD /////////// */

.card {
  height: 100%;
  margin: 0 0.2em;
}

#myplayerwindow .card {
  background: lightgreen;
  width: 30%;
  min-width: 5px;
  max-width: 200px;
}

#otherswindow .card {
  background: lightpink;
  width: 25%;
  min-width: 5px;
  max-width: 100px;
}

/*////////// ROLE /////////// */

.role {
  flex-grow: 2;
  padding: 2%;
}

.prole {
  min-width: 50px;
  max-width: 200px;
  background: #DEB887;
  float: right;
  width: 100%;
  height: 100%;
  border: solid 2px black;
  border-radius: 10px;
  box-shadow: 2px 2px 5px black;
}

/*////////// TEST BUTTONS /////////// */

#testbtns {
  position: absolute;
  bottom: 20px;
  right: 70px;
  width: 50px;
  height: 50vh;
}

#testbtns button {
  border: solid grey 3px;
}
