html {}

body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95vh;
  background: #e9e9e9;
}

#gamewindow {
  display: none;
  height: 100%;
}

#otherswindow {
  width: 100%;
  height: 40%;
	display: flex;
	flex-wrap: nowrap;

}

.playerwindow {
	width: 100%;
	margin: 2vh 2%;
	flex-wrap: wrap;
	border-radius: 20px;
	border: solid 2px black;
	box-sizing: border-box;
	box-shadow: 10px 10px 5px darkgrey;
}

#myplayerwindow .playerwindow {
	height: 100%;

}

#myplayerwindow {
	/*min-width: 700px;
	max-width: 1000px;*/
  width: 60%;
  height: 55%;
  margin: 2vh auto;
  display: block;
}

.city {
	position: relative;
	height: 40%;
	width: 100%;
	display: flex;
}

.score {
  background: lightgrey;
	flex-grow: 1;
}

.districts {
  background: darkgrey;
	flex-grow: 4;
	display: flex;
}

.player {
	position: relative;
	height: 60%;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.money {
  background: black;
	flex-grow: 1.5;
}

.deck {
  background: white;
  flex-grow: 4;
}

.role {
	flex-grow: 2;
	padding: 2%;
}

.prole {
	background: #DEB887	;
	width: 100%;
	height: 100%;
	border: solid 2px black;
	border-radius: 10px;
	box-shadow: 2px 2px 5px black;
}
